extends layout

block content
  h1= title
  p Welcome to #{title}

  p List of end users
  p(class="test")

  script.
      $.ajax({
         type: 'GET',
         url: 'http://localhost:8080/MoussaRaser/api/users/?apiKey=68ad24accdbc4e13a8513e861ed72539'
      })
      .success(function(data) {
         $('.test').append(JSON.stringify(data));
      })
      .error(function(data, status) {
         $('.test').append('<b>' + status + '</b> : ' + JSON.stringify(data));
      });