extends layout

block content
  h1(style="text-align: center")= title
  hr
  br
    
  h2 Badges
  table.table.table-striped.table-responsive
    thead
      th #
      th Name
      th Description
      th Image
      th Category
      th Actions
    tbody

  script.
      $.ajax({
         type: 'GET',
         url: 'http://localhost:8080/MoussaRaser/api/badges/?apiKey=0d969d5771ea42888b70db4fb44f9e67'
      })
      .success(function(data) {
        console.log(data);

        $.each(data, function(i, item) {
              $('<tr>').append(
                  $('<td>').text(item.id),
                  $('<td>').text(item.name),
                  $('<td>').text(item.description),
                  $('<td>').append('<img width="50px" src="'+item.image+'"></src>'),
                  $('<td>').text(item.category),
                  $('<td>').append('<a href="#">Edit</a> - <a href="#">Delete</a>')
              ).appendTo('tbody');
          });
      })
      .error(function(data, status) {
         alert("Error ajax request");
      });